@import "push-navigation";

.navbar {
  background: #009688;
  height: 60px;
  line-height: 60px;
  color: #fff;
  .brand {
    font-family: "Product Sans";
    font-weight: 200;
    font-size: 1.2em;
    padding-left: 4px;
  }
  .menu-toggle {
    color: #fff;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
    float: left;
    i {
      line-height: inherit;
    }
    &:hover {
      background: rgba(0,0,0,.3);
    }
  }
}
#push-nav .navbar {
  width: $item-width-padding;
  background: darken(#009688, 5%);
}

